<div class="row">
  <div class="col-xs-12">
    <div class="hero-unit">
      <h1>Familias Liberadas de Detencion</h1>
      <p>Historias de familias liberadas de los centros de detención Artesia, Karnes y Dilley.</p>
      <p>
        <a class="btn btn-primary btn-large">
          Learn more
        </a>
      </p>
    </div>
  </div>
</div>
